
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgba(0, 0, 0, 0.8); /* Set a semi-transparent black background */
            color: #fff; /* Set text color to white */
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-image: url("https://i.gifer.com/HKVW.gif"); /* Add your GIF image URL here */
            background-size: cover;
            background-attachment: fixed;
            border-radius: 5px;
        }

        .header {
            text-align: center;
            padding: 20px;
        }

        .header h1 {
            font-size: 36px;
        }

        .profile-pic-container {
            width: 160px;
            height: 160px; /* Set the width and height to 160 pixels to create a square shape */
            border-radius: 10px; /* Increase border-radius for rounded corners */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            overflow: hidden;
            transition: box-shadow 0.3s; /* Add a smooth transition for the glow effect */
        }

        .profile-pic-container:hover {
            box-shadow: 0 0 15px 5px #00ff00, 0 0 30px 10px #00ff00; /* Increased glow on hover */
        }

        .profile-pic {
            width: 100%;
            height: auto;
        }

        .section {
            margin-bottom: 20px;
        }

        .section h2 {
            font-size: 24px;
            border-bottom: 1px solid #333;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .section .content {
            margin-left: 20px;
        }

        .section ul {
            list-style-type: none;
            padding: 0;
        }

        .section ul li {
            margin-bottom: 10px;
        }

        .section .date {
            font-weight: bold;
        }
